*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    
    border-radius: 10px;
    box-shadow: 5px 10px white;
    margin: 50px 400px ;
    width: 50%;
   border: 2px solid black;
    
}
.inner-container{
    
   padding: 2px;
   
}
.title{
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px;
    color: rgb(109, 66, 66);
    border: 2px solid blue;
}
.descrip{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 13px;
    padding: 10px;
    background: rgb(178, 212, 127);
}
.addTittle{
    cursor: pointer;
}
